@model AuditElement
@{
    ViewBag.Title = $"Edit Element - {Model.Id} {Model.Topic}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />
@{
    var isEditable = TempData["Editable"] == null;
    var readOnly = isEditable ? "" : "readonly";
}

<div class="master">
    @if (isEditable == false)
    {
        <div class="text-danger">
            <h4>This element is part of one or more audit templates that have already been deployed.  Editing is limited to display atributes only.</h4>
        </div>
    }

    @using (Html.BeginForm("Create", "WorkOrder", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        if (isEditable)
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Id, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Topic, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Topic, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Text, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Text, new { @class = "form-control", @rows = "5" })
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Id, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Topic, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Topic, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Text, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Text, new { @class = "form-control", @readonly = "readonly", @rows = "5" })
                </div>
            </div>
        }
    }
</div>

<div class="elementchoices">
    <h4>Element Choices</h4>
    <table>
        <tr>
            <td>Text</td>
            <td>Points</td>
            <td>Order</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <input type="text" id="Text" />
                <span class="error">Choice text is required.</span>
            </td>
            <td>
                <input type="number" id="Score" />
                <span class="error">A valid score is required.</span>
            </td>
            <td>
                <input type="number" id="Order" />
                <span class="error">A valid order is required.</span>
            </td>
            <td>
                <input type="button" id="add" value="Add" />
            </td>
        </tr>
    </table>
    <div id="choices" class="table-container">

    </div>
    <div style="padding:10px 0px; text-align:right">
        <input id="submit" type="submit" value="Save" style="padding:10px 20px" />
    </div>
</div>
        

@section scripts{
    <script>
        $(document).ready(function () {
            let choices = [];

            $("#add").click(function () {
                let isValidChoice = true;
                if ($("#Text").val().trim() == "") {
                    isValidChoice = false;
                    $("#Text").siblings("span.error").css("visibility", "visible");
                }
                else {
                    $("#text").siblings("span.error").css("visibility", "hidden");
                }

                if ($("#Score").val().trim() == "" && !isNaN($("#Score").val().trim())) {
                    isValidChoice = false;
                    $("#Score").siblings("span.error").css("visibility", "visible");
                }
                else {
                    $("#Score").siblings("span.error").css("visibility", "hidden");
                }

                if ($("#Order").val().trim() == "" && !isNaN($("#Order").val().trim())) {
                    isValidChoice = false;
                    $("#Order").siblings("span.error").css("visibility", "visible");
                }
                else {
                    $("#Order").siblings("span.error").css("visibility", "hidden");
                }

                if (isValidChoice) {
                    choices.push({
                        Text: $("#Text").val().trim(),
                        Score: parseFloat($("#Score").val().trim()),
                        Order: parseFloat($("#Order").val.trim())
                    });

                    $("#Text").val("").focus();
                    $("#Score").val("");
                    $("#Order").val("");
                }
                GenerateChoiceTable();
            });

            function GenerateChoiceTable() {
                if (choices.length > 0) {
                    var $table = $("<table/>");
                    $table.append("<thead><tr><th>Text</th><th>Points</th><th>Order</th></tr></thead>");
                    var $tbody = $("<tbody/>");
                    $.each(choices, function (i, choice) {
                        var $row = $("<tr/>");
                        $row.append($("<td/>").html(choice.Text));
                        $row.append($("<td/>").html(choice.Points));
                        $row.append($("<td/>").html(choice.Order));
                        $row.append($("<td/>").html(choice.Text));
                        $tbody.append($row);
                    });
                    $table.append($tbody);
                    $("#choices").html($table);
                }
            }
        });
    </script>
    }
