@model IEnumerable<AuditElement>
@{
    ViewBag.Title = "Audit Elements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />
<table class="table table-bordered table-hover table-responsive" id="elements">
    <thead>
        <tr>
            <th>ID</th>
            <th>Topic</th>
            <th>Text</th>
            <th>Created</th>
            <th>Create By</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var element in Model)
        {
        <tr>
            <td>@Html.ActionLink(element.Id.ToString(), "Details", new { id = element.Id})</td>
            <td>@element.Topic</td>
            <td>@element.Text.Substring(0, element.Text.Length > 25 ? 25 : element.Text.Length)</td>
            <td>@element.CreateDateTime.ToString("MM/dd/yyyy hh:mm:ss tt")</td>
            <td>@element.CreatedBy.NameFLUser</td>
        </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#elements").DataTable();
        });
    </script>
    }

