@model DisputeViewModel
@{
    ViewBag.Title = "Submit a Dispute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dispute</h2>
<div id="audit" class="row">
    <div class="col-md-5">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(m => m.Audit.AuditeeId)</dt>
            <dd>@Model.Audit.Auditee.NameFLUser</dd>
            <dt>@Html.DisplayNameFor(m => m.Audit.SupervisorId)</dt>
            <dd>@Model.Audit.Supervisor.NameFLUser</dd>
            <dt>@Html.DisplayNameFor(m => m.Audit.WorkDateTime)</dt>
            <dd>@Model.Audit.WorkDateTime.ToString("MM/dd/yyyy hh:mm:ss tt")</dd>
            <dt>@Html.DisplayNameFor(m => m.Audit.WorkIdentifier)</dt>
            <dd>@Model.Audit.WorkIdentifier</dd>
            <dt>@Html.DisplayNameFor(m => m.Audit.Score)</dt>
            <dd>@Model.Audit.ScoreDisplay</dd>
        </dl>
    </div>
    <div class="col-md-5">
        <dl class="dl-horizontal">
            <dt>Audit Template</dt>
            <dd>@Model.Audit.AuditTemplate.TitleVersion</dd>
            <dt>@Html.DisplayNameFor(m => m.Audit.AuditDateTime)</dt>
            <dd>@Model.Audit.AuditDateTime.ToString("MM/dd/yyyy hh:mm:ss tt")</dd>
            <dt>@Html.DisplayNameFor(m => m.Audit.ModifiedDateTime)</dt>
            <dd>@Model.Audit.ModifiedDateTime.ToString("MM/dd/yyyy hh:mm:ss tt")</dd>
            <dt></dt>
            <dd>@Html.ActionLink("Click here to view audit", "Details", "Audits", new { id = Model.AuditId }, new { @target = "_blank" })</dd>
        </dl>
    </div>
    <div class="col-md-2">
        @if (User.IsInRole("Admin") || User.IsInRole("Audit Manager") || User.Identity.GetUserId() == Model.Audit.SupervisorId)
        {
            <ul>
                <li>@Html.ActionLink("Supervisor Approve", "SupervisorApprove", new { id = Model.AuditId })</li>
                <li>@Html.ActionLink("Supervisor Deny", "SupervisorDeny", new { id = Model.AuditId })</li>
            </ul>
        }
    </div>
</div>
<div class="row" id="dispute">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(m => m.DeciderId)</dt>
            @if (Model.Decider != null)
            {
                <dd>@Model.Decider.NameFLUser</dd>
            }
            else
            {
                <dd>-</dd>
            }
            <dt>@Html.DisplayNameFor(m => m.DecisionId)</dt>
            @if (Model.Decision != null)
            {
                <dd>@Model.Decision.Text</dd>
            }
            else
            {
                <dd style="font-style:italic">Pending</dd>
            }
        </dl>
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(m => m.CreateDateTime)</dt>
            <dd>@Model.CreateDateTime.ToString("MM/dd/yyyy hh:mm:ss tt")</dd>
            <dt>@Html.DisplayNameFor(m => m.SupervisorApproveDateTime)</dt>
            @if (Model.SupervisorApproveDateTime.HasValue)
            {
                <dd>@Model.SupervisorApproveDateTime.Value.ToString("MM/dd/yyyy hh:mm:ss tt")</dd>
            }
            else
            {
                <dd>
                    @Html.ActionLink("Approve", "SupervisorApprove", new { id = Model.AuditId }) |
                    @Html.ActionLink("Deny", "SupervisorDeny", new { id = Model.AuditId })
                </dd>
            }
            <dt>@Html.DisplayNameFor(m => m.DecisionDateTime)</dt>
            @if (Model.DecisionDateTime.HasValue)
            {
                <dd>@Model.DecisionDateTime.Value.ToString("MM/dd/yyyy hh:mm:ss tt")</dd>
            }
            else
            {
                <dd style="font-style:italic">Pending</dd>
            }
        </dl>
    </div>
</div>
@if ((User.IsInRole("Admin") || User.IsInRole("Audit Manager")) && User.Identity.GetUserId() != Model.Audit.AuditeeId)
{
    <hr />
    <h4>Decision</h4>
    using (Html.BeginForm("Details", "Disputes", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.AuditId)

        <div class="form-group">
            @Html.LabelFor(m => m.DecisionId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.DecisionId, new SelectList(Model.DecisionOptions, "Id", "Text"), "", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewComment, new { @class = "col-md-2 control-label", @value = "New Comment" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.NewComment, new { @class = "form-control", @rows = "10" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Submit" />
            </div>
        </div>
    }
    <hr />
    <h4>Comments</h4>

}
else
{
    <hr />
    <h4>Comments</h4>
    using (Html.BeginForm("Supervisor", "Disputes", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.AuditId)

        <div class="form-group">
            @Html.LabelFor(m => m.NewComment, new { @class = "col-md-2 control-label", @value = "New Comment" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.NewComment, new { @class = "form-control", @rows = "10" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Submit" />
            </div>
        </div>
    }
}

<p>@Model.Comments</p>