@model AuditResponse
@{
    ViewBag.Title = "Audit Response - " + Model.Element.Topic;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Audit Information</h2>
<div id="audit" class="row">
    <div class="col-md-5">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(m => m.Audit.AuditeeId)</dt>
            <dd>@Model.Audit.Auditee.NameFLUser</dd>
            <dt>@Html.DisplayNameFor(m => m.Audit.SupervisorId)</dt>
            <dd>@Model.Audit.Supervisor.NameFLUser</dd>
            <dt>@Html.DisplayNameFor(m => m.Audit.WorkDateTime)</dt>
            <dd>@Model.Audit.WorkDateTime.ToString("MM/dd/yyyy hh:mm:ss tt")</dd>
            <dt>@Html.DisplayNameFor(m => m.Audit.WorkIdentifier)</dt>
            <dd>@Model.Audit.WorkIdentifier</dd>
            <dt>@Html.DisplayNameFor(m => m.Audit.Score)</dt>
            <dd>@Model.Audit.ScoreDisplay</dd>
        </dl>
    </div>
    <div class="col-md-5">
        <dl class="dl-horizontal">
            <dt>Audit Template</dt>
            <dd>@Model.Audit.AuditTemplate.Title V@(Model.Audit.AuditTemplate.Version)</dd>
            <dt>@Html.DisplayNameFor(m => m.Audit.AuditorId)</dt>
            <dd>@Model.Audit.Auditor.NameFLUser</dd>
            <dt>@Html.DisplayNameFor(m => m.Audit.AuditDateTime)</dt>
            <dd>@Model.Audit.AuditDateTime.ToString("MM/dd/yyyy hh:mm:ss tt")</dd>
            <dt>@Html.DisplayNameFor(m => m.Audit.ModifiedById)</dt>
            <dd>@Model.Audit.ModifiedBy.NameFLUser</dd>
            <dt>@Html.DisplayNameFor(m => m.Audit.ModifiedDateTime)</dt>
            <dd>@Model.Audit.ModifiedDateTime.ToString("MM/dd/yyyy hh:mm:ss tt")</dd>
        </dl>
    </div>
</div>
<hr />

@using (Html.BeginForm("Edit", "AuditResponses", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.DropDownListFor(m => m.ChoiceId, new SelectList(Model.Element.Choices, "Id", "Text"), new { @class = "form-control col-md-3", @style = "display:inline" })
        <p class="col-md-9" style="display:inline"><b>@Model.Element.Topic: </b>@Model.Element.Text</p>
    </div>
    
    <div class="hidden">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.AuditId)
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Save" />
        </div>
    </div>
}

