@model AuditTemplateViewModel
@{
    ViewBag.Title = "Audit Template - " + Model.Id != null ? Model.Title + " V" + Model.Version : "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div id="audit-template" class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(m => m.Id)</dt>
            <dd>@Model.Id</dd>
            <dt>@Html.DisplayNameFor(m => m.Title)</dt>
            <dd>@Model.Title</dd>
            <dt>@Html.DisplayNameFor(m => m.Version)</dt>
            <dd>@Model.Version</dd>
            <dt>@Html.DisplayNameFor(m => m.DeployDateTime)</dt>
            <dd>@(Model.DeployDateTime != null ? Model.DeployDateTime.Value.ToString("MM/dd/yyyy hh:mm:ss tt") : "")</dd>
            <dt>@Html.DisplayNameFor(m => m.DepreciateDateTime)</dt>
            <dd>@(Model.DepreciateDateTime != null ? Model.DepreciateDateTime.Value.ToString("MM/dd/yyyy hh:mm:ss tt") : "")</dd>
        </dl>
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(m => m.CreateDateTime)</dt>
            <dd>@Model.CreateDateTime.Value.ToString("MM/dd/yyyy hh:mm:ss tt")</dd>
            <dt>@Html.DisplayNameFor(m => m.CreatedById)</dt>
            @if(Model.CreatedBy != null)
            {
                <dd>@Model.CreatedBy.NameFLUser</dd>
            }
            <dt>@Html.DisplayNameFor(m => m.ModifiedDateTime)</dt>
            <dd>@Model.ModifiedDateTime.Value.ToString("MM/dd/yyyy hh:mm:ss tt")</dd>
            <dt>@Html.DisplayNameFor(m => m.ModifiedById)</dt>
            @if(Model.ModifiedBy != null)
            {
                <dd>@Model.ModifiedBy.NameFLUser</dd>
            }
        </dl>
    </div>
</div>
    <span>@Html.ActionLink("Add Section", "Add","AuditSections", new { id = Model.Id }, null)</span>
<hr />
@foreach(var auditSection in Model.Sections)
{
    <div id="section-@auditSection.Id" class="audit-section row">
        <div class="col-md-offset-1 col-md-10">
            <h4 style="display:inline">@Html.ActionLink(auditSection.Description, "Details", "AuditSections", new { id = auditSection.Id }, null)</h4>
            <span style="margin-left: 10px">@Html.ActionLink("Edit", "Edit", "AuditSections", new { id = auditSection.Id }, null) | @Html.ActionLink("Delete", "Delete", "AuditSections", new { id = auditSection.Id }, null) | @Html.ActionLink("Add Element", "Add", "AuditElements", new { id = auditSection.Id }, null)</span>
            <p><b>Weight: </b>@auditSection.WeightDisplay</p>
            <hr />
            @foreach (var sectionElement in auditSection.Elements)
            {
                <div id="element-@sectionElement.Id" class="section-element row">
                    <div class="col-md-offset-1 col-md-8">
                        <h4 style="display:inline">@Html.ActionLink(sectionElement.Topic, "Details", "AuditElements", new { id = sectionElement.Id }, null)</h4><span style="margin-left:10px">@Html.ActionLink("Edit", "Edit", "AuditElements", new { id = sectionElement.Id }, null) | @Html.ActionLink("Delete", "Delete", "AuditElements", new { id = sectionElement.Id }, null) | @Html.ActionLink("Add Choice", "Add", "AuditElementChoices", new { id = sectionElement.Id }, null)</span>
                        <p>@sectionElement.Text</p>
                        <hr />
                        <table class="table table-condensed table-responsive table-hover">
                            <thead>
                                <tr>
                                    <th>Choice</th>
                                    <th>Point Value</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var elementChoice in sectionElement.Choices)
                                {
                                    <tr id="choice-@elementChoice.Id">
                                        <td>@elementChoice.Text</td>
                                        <td>@elementChoice.Score</td>
                                        <td>@Html.ActionLink("Edit", "Edit", "AuditElementChoices", new { id = elementChoice.Id }, null) | @Html.ActionLink("Delete", "Delete", "AuditElementChoices", new { id = elementChoice.Id }, null)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
}

